.first-page {
    height: 100vh;
    background-color: #03c8efb0;
    background-image: url("../../assets/pc.jpg");
    background-size: cover;
  }
  .first-page:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: #676767b0;
  }
  .first-page .container {
    position: relative;
    z-index: 4;
  }

  

  .jumbotron {
    background: transparent;
    padding-right: 0px !important;
    padding-left: 0px !important;   
    padding: 23% 0;

  }
  .jumbotron h1 {
    font-size: 77px;
  }
  .jumbotron p {
    font-size: 17px;
    margin: 30px 0 35px;
  }
  .jumbotron .btn {
    border-radius: 0;
    margin-right: 30px;
    padding: 10px 40px;
  }
  .jumbotron a {
    color: white;
  }
  .jumbotron .btn:focus {
    outline: none;
  }
  .jumbotron .btn:hover {
    color: white;
  }
  .jumbotron .btn:nth-of-type(1) {
    color: white;
    background-color: #03c8ef;
  }
  .jumbotron .btn:nth-of-type(2) {
    background: rgba(33, 33, 33, 0.37);
  }
  @media(max-width:767px){
      .first-page{
        padding: 20px 20px;
      }
  }