/*bootstrap classes change*/
@media (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}
/*bootstrap classes change end*/
html {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-size: 16px;
  color: white;
  padding: 0px 0;
  background-color: #e8e7e7;
  margin: 0;
}
.first-page {
  height: 100vh;
  background-color: #03c8efb0;
  background-image: url('assets/pc.jpg');
  background-size:cover ;
}
.first-page:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #676767b0;
  z-index: 0;
}
.first-page .container {
  position: relative;
  z-index: 4;
}
.jumbotron h1 {
  font-size: 77px;
}
.jumbotron {
  background: transparent;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding: 150px 0;
}
.jumbotron p {
  font-size: 17px;
  margin: 30px 0 35px;
}
.jumbotron .btn{
    border-radius: 0;
    margin-right: 30px;
    padding: 10px 40px;
 

}
.jumbotron a{
  color:white;
}
.jumbotron .btn:focus{
  outline:none;
}
.jumbotron .btn:hover{
  color:white;
}
.jumbotron .btn:nth-of-type(1){
  color: white;
  background-color: #03c8ef;
}
.jumbotron .btn:nth-of-type(2){
  background: rgba(33, 33 ,33 ,0.37);
}

img {
  max-width: 100%;
}
h1 {
  text-transform: uppercase;
  font-size: 20px;
}

.social-networks {
  text-align: right;
}
.social-networks li {
  display: inline-block;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.15);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 10px;
  transition: all 0.25s ease-in-out;
}
.social-networks li:hover {
  box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.15);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.social-networks li svg {
  fill: gray;
  margin: 5px;
  opacity: 0.5;
}

/*basic inforation section*/
.cv-box {
  padding: 50px;
  margin: 50px auto auto;
  background-color: white;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
  color: #333;
}
.cv-box .basic-info h2 {
  color: #03c8ef;
}
.cv-box .basic-info p {
  font-size: 16px;
}
.cv-box .basic-info li {
  list-style-type: none;
}
.dark-heading {
  color: #03c8ef;
  margin-top: 80px;
}
.skills {
  padding: 50px;
  margin-top: 20px;
}
.education-heading {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
    padding: 10px 20px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.pt10 {
  padding-top: 10px;
}
@media (max-width: 767px) {
  .social-networks {
    text-align: left;
    padding-left: 0;
  }
  .social-networks li {
    margin-left: 0;
    margin-right: 20px;
  }
  .dark-heading {
    text-align: left;
    font-size: 25px;
    margin-top: 50px;
  }
  h3 {
    margin: 5px 0 20px;
  }
}
